@model Maestro

@* public long Id { get; set; } *@
@* public int? Entero { get; set; } *@
@* public float? Flotante { get; set; } *@

@* public PruebaEnum? Enum { get; set; } *@
@* public string? Cadena { get; set; } *@
@* public DateTime? FechaHora { get; set; } *@

@* public DateTime? Fecha { get; set; } *@
@* public DateTime? Hora { get; set; } *@

@* public decimal? Decimal { get; set; } *@
@* public DateTime FechaCreacion { get; set; } = DateTime.Now; *@
@* public DateTime FechaActualizacion { get; set; } *@

@* public bool? Booleano { get; set; } = false; *@
@* public string ValorNoMapeado { get; set; } *@

@* public IEnumerable<Detalle> Detalles { get; set; } *@



<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h5>
                    Detalles del registro
                </h5>
            </div>

            <div class="card-body">
                <form asp-controller="Detalle" asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Entero" class="control-label"></label>
                        <input asp-for="Entero" class="form-control" disabled/>
                        <span asp-validation-for="Entero" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Flotante" class="control-label"></label>
                        <input asp-for="Flotante" class="form-control" disabled/>
                        <span asp-validation-for="Flotante" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Enum" class="control-label"></label>
                        <select asp-for="Enum" asp-items="@Html.GetEnumSelectList<PruebaEnum>()" class="form-control" disabled>
                            <option value="">Seleccione una opcion</option>
                        </select>
                        <span asp-validation-for="Enum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cadena" class="control-label"></label>
                        <input asp-for="Cadena" class="form-control" disabled/>
                        <span asp-validation-for="Cadena" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaHora" class="control-label"></label>
                        <input asp-for="FechaHora" class="form-control" disabled/>
                        <span asp-validation-for="FechaHora" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" disabled/>
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Hora" class="control-label"></label>
                        <input asp-for="Hora" class="form-control" disabled/>
                        <span asp-validation-for="Hora" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Decimal" class="control-label"></label>
                        <input asp-for="Decimal" class="form-control" disabled/>
                        <span asp-validation-for="Decimal" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaCreacion" class="control-label"></label>
                        <input asp-for="FechaCreacion" class="form-control" disabled/>
                        <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaActualizacion" class="control-label"></label>
                        <input asp-for="FechaActualizacion" class="form-control" disabled/>
                        <span asp-validation-for="FechaActualizacion" class="text-danger"></span>
                    </div>


                    <div class="form-group form-check">
                        <label class="form-check-label" asp-for="Booleano">
                            <input class="form-check-input" asp-for="Booleano" disabled/>
                            @Html.DisplayNameFor(model => model.Booleano)
                        </label>
                    </div>


                </form>
            </div>
        </div>
    
        @* Model.Detalles.Any() *@
        
        @if (true)
        {
            <div class="card mt-4">
                <div class="card-header">
                    <h6>Detalles</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cadena</th>
                            <th>Entero</th>
                            <th>Enum</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Detalles)
                        {
                            <tr>
                                <td>@Html.DisplayFor(a => item.Id)</td>
                                <td>@Html.DisplayFor(a => item.Cadena)</td>
                                <td>@Html.DisplayFor(a => item.Entero)</td>
                                <td>@Html.DisplayFor(a => item.Enum)</td>
                                @* TODO add link for edit or delete *@
                                <td>Opciones</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>
    
    <div class="col-sm-3"></div>
</div>