@using WebApplicationMvc.CustomHandler
@using WebApplicationMvc.Views.Shared.Components.UserInfo
@using WebApplicationMvc.Bundling
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Blockquote
@using Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetScripts
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetStyles

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplicationMvc</title>

    <abp-style-bundle name="@StandardBundles.Styles.Global" />
    @await Component.InvokeAsync(typeof(WidgetStylesViewComponent))
    @await RenderSectionAsync("styles", false)

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 justify-content-between">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplicationMvc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (User.IsInRole(Rol.Admin))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Detalle" asp-action="Index">Detalle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Maestro" asp-action="Index">Maestro</a>
                </li>

                @* align to other *@

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="AdminLte">AdminLte example</a>
                </li>

            </ul>
        </div>
        @* ways for show userName *@
        @* <a class="navbar-text d-none d-sm-block">@User.Identity?.Name</a> *@
        @* <a class="navbar-text d-none d-sm-block">@User.Claims.FirstOrDefault(a => a.Type == "FullName")?.Value</a> *@
        @* with claim extensions *@
        @* <a class="navbar-text d-none d-sm-block">@User.GetLoggedInUserName()</a> *@

        @* with view component as tag *@
        @* <vc:user-info></vc:user-info> *@
        @* with invoke component *@
        @await Component.InvokeAsync(typeof(UserInfoViewComponent))

    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - WebApplicationMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>


<abp-script-bundle name="@StandardBundles.Scripts.Global" />
<script src="~/Abp/ApplicationConfigurationScript"></script>
<script src="~/Abp/ServiceProxyScript"></script>
@await RenderSectionAsync("scripts", false)
@await Component.InvokeAsync(typeof(WidgetScriptsViewComponent))


</body>
</html>