@model WebApplicationMvc.Controllers.RecetaViewModel

@{
    // Layout = null;
}

@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title>title</title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*        *@
@* </div> *@
@* </body> *@
@* </html> *@

<h2 class="text-center">Mi ultima receta</h2>

@if (Model != null)
{
    @* <div class="card"> *@
    @*     <div class="card-header"> *@
    @*         <strong> *@
    @*             Receta N: @Model.Id Fecha: @Model.Fecha.ToString() Doctor: @Model.Doctor *@
    @*         </strong> *@
    @*     </div> *@
    @*     <div class="card-body"> *@
    @*         Receta (Retalles y recomendaciones). <br> *@
    @*         @Model.Receta *@
    @*     </div> *@
    @* </div> *@
    @* <br> *@
    <div class="list-group">
        @* <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active"> *@
        @*     <div class="d-flex w-100 justify-content-between"> *@
        @*         <h5 class="mb-1">List group item heading</h5> *@
        @*         <small>3 days ago</small> *@
        @*     </div> *@
        @*     <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> *@
        @*     <small>Donec id elit non mi porta.</small> *@
        @* </a> *@
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Receta N: @Model.Id </h5>
                <small class="text-muted">Fecha: @Model.Fecha.ToString()</small>
            </div>
            <p class="mb-1">Doctor que atendio(receto): @Model.Doctor</p>
            <small class="text-muted">Receta (Retalles y recomendaciones). <br>
                @Model.Receta
            </small>
            <hr>
            <div class="col-12">
                <a class="btn btn-sm btn-outline-primary btn-block" asp-controller="Historial" asp-action="PruebaPdfExport" asp-route-historiaId="@Model.Id">Descargar PDF</a>
            </div>
        </div>
        @* <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> *@
        @*     <div class="d-flex w-100 justify-content-between"> *@
        @*         <h5 class="mb-1">List group item heading</h5> *@
        @*         <small class="text-muted">3 days ago</small> *@
        @*     </div> *@
        @*     <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> *@
        @*     <small class="text-muted">Donec id elit non mi porta.</small> *@
        @* </a> *@
    </div>
}
else
{
    <p>
        No hay recetas recientes.
    </p>
}