@model IEnumerable<WebApplicationMvc.ViewModels.DetalleListItemViewModel>
@using WebApplicationMvc.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TestResource> Localizer

@{
    ViewData["Title"] = "Tituloooo";
}


<h1>@Localizer["HelloWorld"]</h1>
<h1>@Localizer["LongWelcomeMessage"]</h1>

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-right" asp-controller="Detalle" asp-action="Create">Crear</a>
    </div>
</div>

<form asp-controller="Detalle" asp-action="Index" method="get">
    <div class="row">
        <div class="col-8">
            <div class="form-group row">
                <label for="InputSearch" class="col-sm-5 col-form-label">Buscar cadena</label>
                <div class="col-sm-7">
                    <input type="text"
                           name="InputSearch"
                           class="form-control"
                           id="InputSearch"
                           value="@ViewData["TextoBusqueda"]"
                           placeholder="Ingrese un texto">
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="form-group row">
                <label for="" class="col-sm-5 col-form-label">Buscar flotante</label>
                <div class="col-sm-3">
                    <input type="number"
                           name="FloatMin"
                           class="form-control"
                           id="FloatMin"
                           value="@ViewData["FloatMin"]"
                           placeholder="Min">
                </div>
                <div class="col-sm-3">
                    <input type="number"
                           name="FloatMax"
                           class="form-control"
                           id="FloatMax"
                           value="@ViewData["FloatMax"]"
                           placeholder="Max">
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="form-group row">
                <label for="" class="col-sm-5 col-form-label">Buscar fecha</label>
                <div class="col-sm-3">
                    <input type="date"
                           name="FechaMin"
                           class="form-control"
                           id="FechaMin"
                           value="@ViewData["FechaMin"]"
                           placeholder="Min">
                </div>
                <div class="col-sm-3">
                    <input type="date"
                           name="FechaMax"
                           class="form-control"
                           id="FechaMax"
                           value="@ViewData["FechaMax"]"
                           placeholder="Max">
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>

</form>

<div class="row my-4">
    <div class="col-12">
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Flotante</th>
                <th>Enum</th>
                <th>Cadena</th>
                <th>Fecha Hora</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Archivo</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(a => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(a => item.Flotante)
                    </td>
                    <td>
                        @Html.DisplayFor(a => item.Enum)
                    </td>
                    <td>
                        @Html.DisplayFor(a => item.Cadena)
                    </td>
                    <td>
                        @item.FechaHora.ToString()
                    </td>
                    <td>
                        @item.Fecha.ToShortDateString()
                    </td>
                    <td>
                        @item.Hora.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(a => item.NombreArchivo)
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="Detalle" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Detalle" asp-action="ShowForDelete" asp-route-id="@item.Id">Eliminar</a>
                        <a class="btn btn-info btn-sm" asp-controller="Detalle" asp-action="ShowDetails" asp-route-id="@item.Id">Detalle</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>